.card {
    margin-bottom: 20px;
    min-height: 450px;
    border: 1px solid #80808075;
  }
  .image_container {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card_image {
    width: 100%;
    height: 100%;
    padding: 10px;
    max-width: 200px;
  }
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
 